<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <h4>Homepage</h4>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter a task here" name="task"/>
        <button type="submit">Add Task</button>
    </form>
{#    <a href="{% url 'logout' %}"><button>Logout</button></a>#}
    <table>
        <thead>
            <tr>
                <th>Task name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for todo in todos %}
            <tr>
                <td>{{ todo.name }}</td>
                {% if todo.status == True %}
                    <td style="color: green">Completed</td>
                {% else %}
                    <td style="color: blue">In progress</td>
                {% endif %}
                <td>
                    <a href="{% url 'delete' todo.name %}"><button style="color: red">delete task</button></a>
                    <a href="{% url 'update' todo.name %}"><button style="color: green">finish task</button></a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>