<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
    <h4>Homepage</h4>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter a task here" name="task"/>
        <button type="submit">Add Task</button>
    </form>
{#    <a href="{% url 'logout' %}"><button>Logout</button></a>#}
    <table>
        <thead>
            <tr>
                <th>Todo item</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in todos %}
            <tr>
                <td>{{i.todo_name}}</td>
                {% if i.status == True %}
                <td>Completed</td>
                {% else %}
                <td>In progress</td>
                {% endif %}
                <td>
                    <a href="{% url 'delete' i.todo_name %}"><button>Delete</button></a>
                    <a href="{% url 'update' i.todo_name %}"><button>Finished</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>