<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In Progress Tasks</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <h2>In Progress Tasks</h2><br>
    <table>
        <thead>
            <tr>
                <th>Task name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.name }}</td>
                <td style="color: blue">In Progress</td>
                <td>
                    <a href="{% url 'update' todo.name %}"><button style="color: green">Finish task</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>